.App {
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin: 50px;
  column-gap: 30px;
}
#gridContainer {
  width: 85%;
}
.report-editor {
  flex-grow: 2;
}
.column-editor {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
